In [1]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import re

## NASA Mars News

In [2]:
news_url = 'https://mars.nasa.gov/news'

In [3]:
# Retrieve page with the requests module
news_response = requests.get(news_url)
news_soup = bs(news_response.text, 'html.parser')

In [4]:
#print(news_soup.prettify())

In [5]:
news_title = news_soup.find("div", class_="content_title").text.strip()
news_p = news_soup.find("div", class_="rollover_description_inner").text.strip()

In [6]:
print(news_title)

Mars Helicopter Attached to NASA's Perseverance Rover

In [7]:
print(news_p)

The team also fueled the rover's sky crane to get ready for this summer's history-making launch.

## JPL Mars Space Images - Featured Image

In [8]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [10]:
html = browser.html
img_soup = bs(html, 'html.parser')

In [11]:
images = img_soup.find_all('a', class_ = "fancybox")
#images

In [12]:
url_li=[]
for image in images:
    href = image['data-fancybox-href']

    if 'largesize' in href:
        image_url = 'https://www.jpl.nasa.gov' + href
        url_li.append(image_url)

In [13]:
featured_image_url = url_li[0]
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23844_hires.jpg'

In [14]:
browser.quit()

## Mars Weather

In [15]:
twitter_url = 'https://twitter.com/marswxreport?lang=en'
twitter_response = requests.get(twitter_url)
twitter_soup = bs(twitter_response.text, 'html.parser')

In [16]:
#print(twitter_soup.prettify())

In [17]:
weather_text = twitter_soup.find_all("div", class_="js-tweet-text-container")
#print(weather_text)

In [18]:
weather_tweets = []
for weather in weather_text:
    tweet = weather.text
    weather_tweets.append(tweet)
    

mars_weather = re.sub(r'pic.twitter.com\S+', '', weather_tweets[0].replace('\n',' ').lstrip())
print(mars_weather)

InSight sol 501 (2020-04-24) low -93.5ºC (-136.2ºF) high -4.3ºC (24.3ºF) winds from the SW at 5.0 m/s (11.3 mph) gusting to 15.8 m/s (35.3 mph) pressure at 6.70 hPa

## Mars Facts

In [19]:
facts_url = "https://space-facts.com/mars/"

In [20]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
df = tables[0]
df.columns = ['description', 'value']
df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [22]:
html_table = df.to_html(index=False)
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>description</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [23]:
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
hemisphere_response = requests.get(hemisphere_url)
hemisphere_soup = bs(hemisphere_response.text, 'html.parser')

In [24]:
#print(hemisphere_soup.prettify())

In [25]:
high_res_images = hemisphere_soup.find_all('a', class_="itemLink product-item")
high_res_images

[<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/><div class="description"><h3>Cerberus Hemisphere Enhanced</h3></div></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/><div class="description"><h3>Schiaparelli Hemisphere Enhanced</h3></div></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/><div class="description"><h3>Syrtis Major Hemisphere Enhanced</h3></div></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/><div class="description"><h3>Valles Marineris Hemisphere Enhanced</h3></div></a>]

In [26]:
hemisphere_image_urls =[]

for image in high_res_images:
    image_dict = {}
    
    title = image.find('h3').text
    image_dict['title'] = title.strip(' Enhanced')
    
    temp_img_url = image['href']
    
    # scrape the website
    new_image_url = 'https://astrogeology.usgs.gov' + temp_img_url
    img_request = requests.get(new_image_url)
    full_img_soup = bs(img_request.text, 'lxml')
    img_tag = full_img_soup.find('div', class_ = 'downloads')
    img_url = img_tag.find('a')['href']
    image_dict['img_url'] = img_url
    
    
    hemisphere_image_urls.append(image_dict)

In [27]:
hemisphere_image_urls

[{'title': 'Cerberus Hemispher',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemispher',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemispher',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemispher',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]